{% extends 'layout.html' %}

{% block content %}
  <section class="header">
      <h1>Ricardo Lanari</h1>
      <p>Currently PM for a project integrating AI with deliberative processes. My goal is to learn to code and gain expertice in data analysis.</p>
      <!--I would suggest choosing a different picture here.-->
      <!--Like maybe a hobby photo-->
      <img src=./static/images/travel.jpg alt="Headshot of myself">
  </section>
  <section id="about-page">
      <div id="triangle7"></div>
      <div id="triangle8"></div>
      <h2>About me</h2>
      <p>
          Music, Pickling and Sourkraut
      </p>
      <p>
          Bouldering, golf and movility training
      </p>
      <a href="#"><i class="far fa-file"></i>Resume</a>
  </section>  
{% endblock%}